spring:
  application:
    name: ContractGuard


  datasource:
    url: jdbc:postgresql://localhost:5432/contractguard_db
    username: ${db.username}
    password: ${db.password}
    driver-class-name: org.postgresql.Driver


  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
        jdbc:
          batch_size: 20
        order_inserts: true
        order_updates: true
    show-sql: true
    open-in-view: false


  flyway:
    enabled: true
    baseline-on-migrate: true
    locations: classpath:db/migration


  data:
    redis:
      host: localhost
      port: 6379
      timeout: 2000
      jedis:
        pool:
          max-active: 8
          max-idle: 8
          min-idle: 0


  jackson:
    default-property-inclusion: non_null

  security:
    jwt:
      secret: ${secret.key}
      expiration: 86400000


server:
  port: 8080
  servlet:
    context-path: /

logging:
  level:
    root: INFO
    ContractGuard: DEBUG
    org.springframework.web: DEBUG
    org.springframework.security: DEBUG
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE
  pattern:
    console: "%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n"

